body
{
    overflow-x: hidden;
    font-family:  "Onest", serif;
    margin: 0vh 12vw;
    font-size: 20px;
    line-height: 1.5;
    background-color: #222831;
    color: #EEEEEE;
    padding-bottom: 5vh;
}

.top h1 
{
    position: relative;
    z-index: 1;
    font-size: 80px;
    line-height: 1;
    margin-top: -5vh;
    vertical-align: top;
}

h1
{
    font-size: 80px;
    margin: 5vh 0vh;
}

h2 
{
    font-size: 40px;
}

h2::after{
    content: "\a";
    white-space: pre;
}

a {
    font-weight: bold;
    
}

center
{
    font-size: 12px;
    margin: 5vh 0vh;
}

center img
{
    margin-bottom: 5px;
    max-height: 70vh;
    max-width: 70vw;
}

span.green 
{
    font-weight: bold;
    color: #22ffaa;
}

span.red
{
    font-weight: bold;
    color: #ff223f;
}

.home 
{
    margin-top: 5vh;
    color: #A35C7A;
}

.home a 
{
    color: rgb(155, 151, 151);
}

a 
{
    text-decoration: none;
    color: #FF5722;
}

.crop {
    margin: 0vh 100vh 0vh -12vw;
    width: 100vw;
    height: 35vh;
    overflow: hidden;
    z-index: 1;
}

.crop img {
    display: block;
    margin: -31% 0px 0px 0px;
    filter: brightness(40%);
}
